@model Frontend.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="container d-flex justify-content-center ">
    <div class="card border-light-subtle shadow-sm ">
        <div class="form-horizontal p-3 p-md-4 p-xl-5">
            <h2>Login</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <!-- Email input -->
            <div class="mb-3">
                @Html.LabelFor(model => model.Email, new { @class = "form-label" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <!-- Password input -->
            <div class="mb-3">
                @Html.LabelFor(model => model.Password, new { @class = "form-label" })
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <!-- Remember me checkbox -->
            <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
            <label class="form-check-label" for="form2Example31"> Remember me </label>


            <!-- Forgot password link -->
            <div class="mb-3">
                <a href="#!" class="link-primary">Forgot password?</a>
            </div>

            <!-- Submit button -->
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>

    </div>

</div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
